{% extends 'book/base.html' %}
{% load static %}

{% block title %}
AddressBook - Search
{% endblock %}

{% block content %}
<h2 class="font-weight-bold text-center bg-warning p-4">
    Результаты поиска "{{ search }}"
</h2>
<div class="container">
    <div class="row">
        {% for object in persons %}
            <div class="col-4">
              <div class="card mt-3">
                <div class="card-body">
                    <img class="card-img-top" height="200" src="{{ object.photo.url }}">
                    <h5 class="mt-3 card-title">{{ object.name }} {{ object.sname }}</h5>
                    {% if object.address %}
                        <p class="">{{ object.country }} {{ object.city }} {{ object.street }}</p>
                    {% else %}
                        <p class="">Адрес отсутствует</p>
                    {% endif %}
                    <p class="">{{ object.phone }}</p>
                    {% if object.url %}
                        <a href="{{ object.url }}" class="stretched-link">URL ссылка</a>
                    {% else %}
                        <p class="">URL ссылка отсутствует</p>
                    {% endif %}
                    <hr>
                    <a href="#" class="btn btn-outline-secondary">Редактировать</a>
                    <a href="#" class="btn btn-outline-danger ml-2">Удалить</a>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}